{% extends 'catalog/base.html' %}

{% block title %}Удаление статьи{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 mx-auto text-center">
        <h1 class="mb-4">Удаление статьи</h1>
        <p class="lead">Вы уверены, что хотите удалить статью <strong>"{{ object.title }}"</strong>?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">✅ Да, удалить</button>
            <a href="{% url 'blog:blog_detail' object.pk %}" class="btn btn-secondary">❌ Отмена</a>
        </form>
    </div>
</div>
{% endblock %}

